[submodule "Testing/Data/Input/VisualSonics"]
	path = Testing/Data/Input/VisualSonics
	url = git://gitorious.org/ultrasound-b-mode/visualsonics-test-data.git
[submodule "Submodules/itkStreamingResampleImageFilter"]
	path = Submodules/itkStreamingResampleImageFilter
	url = git://gitorious.org/ultrasound-b-mode/itkstreamingresampleimagefilter.git
