[submodule "Submodules/itkStreamingResampleImageFilter"]
	path = Submodules/itkStreamingResampleImageFilter
	url = https://github.com/thewtex/ITKStreamingResampleImageFilter.git
[submodule "Testing/Data/Input/VisualSonics"]
	path = Testing/Data/Input/VisualSonics
	url = https://github.com/thewtex/visualsonics-test-data.git
